<div class='col-xs-2 text-right'>
  <img src='/sad.png' width='40' style='transform: scale({{sadScale}})'>
</div>

<div class='col-xs-8'>
  <input
    type='range'
    min={{widgetAttrs.min}}
    max={{widgetAttrs.max}}
    step={{step}}
    value={{value}}
  >
</div>

<div class='col-xs-2 text-left'>
  <img src='/joy.png' width='40' style='transform: scale({{happyScale}})'>
</div>
