<div class='row'>
  <div class='col-xs-6'>
    {{#fm-form action='submit'}}



      {{fm-field
        label='Name'
        value=model.record.name
      }}



      {{fm-field
        label='Hot Select'
        widget='hotselect'
        value=model.record.hotselect
        widgetAttrs=(hash
          options=model.options
        )
      }}



      {{fm-field
        label='Start Date'
        widget='datepicker'
        value=model.record.startDate
      }}



      {{fm-field
        widget='rangeslider'
        display='rangeslider'
        value=model.record.howHappy
        widgetAttrs=(hash
          min='1'
          max='100'
        )
      }}



      {{fm-submit value='Submit'}}



    {{/fm-form}}
  </div>
  <div class='col-xs-4 col-xs-offset-2'>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <strong>Name:</strong> {{model.record.name}}<br>
        <strong>Hot Select:</strong> {{model.record.hotselect}}<br>
        <strong>Start Date:</strong> {{model.record.startDate}}<br>
        <strong>How Happy:</strong> {{model.record.howHappy}}<br>
        <hr>
        <div>
          <button class='btn btn-default' {{action 'setHotselect'}}>Set Select</button>
        </div>
        <br>
        <div>
          <button class='btn btn-default' {{action 'setStartDate'}}>Set Start Date</button>
        </div>
        <br>
        <div>
          <button class='btn btn-default' {{action 'setHowHappy'}}>Set How Happy</button>
        </div>
      </div>
    </div>
  </div>
</div>
