<div class='row'>
  <h2>Stacked Form</h2>
  <div class='col-xs-6'>
    {{#fm-form action='submit'}}



      {{fm-field
        label='Name'
        value=model1.record.name
      }}



      {{fm-field
        label='Hot Select'
        widget='hotselect'
        value=model1.record.hotselect
        widgetAttrs=(hash
          options=model1.options
        )
      }}



      {{fm-field
        label='Start Date'
        widget='datepicker'
        value=model1.record.startDate
      }}



      {{fm-field
        widget='rangeslider'
        display='panel'
        value=model1.record.howHappy
        widgetAttrs=(hash
          min='1'
          max='100'
        )
      }}



      {{fm-submit value='Submit'}}



    {{/fm-form}}
  </div>
  <div class='col-xs-4 col-xs-offset-2'>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <strong>Name:</strong> {{model1.record.name}}<br>
        <strong>Hot Select:</strong> {{model1.record.hotselect}}<br>
        <strong>Start Date:</strong> {{model1.record.startDate}}<br>
        <strong>How Happy:</strong> {{model1.record.howHappy}}<br>
        <hr>
        <div>
          <button class='btn btn-default' {{action (action (mut model1.record.hotselect) 'TOR')}}>Set Select</button>
        </div>
        <br>
        <div>
          <button class='btn btn-default' {{action (action (mut model1.record.startDate) '06/22/1983')}}>Set Start Date</button>
        </div>
        <br>
        <div>
          <button class='btn btn-default' {{action (action (mut model1.record.howHappy) 78)}}>Set How Happy</button>
        </div>
      </div>
    </div>
  </div>
</div>

<hr style='margin: 150px auto;'>

<div class='row'>
  <h2>Horizontal Form</h2>
  <div class='col-xs-6'>
    {{#fm-form action='submit' class='form-horizontal'}}


      {{fm-field
        label='Name'
        display='horizontal'
        inputId='name2'
        value=model2.record.name
      }}



      {{fm-field
        label='Hot Select'
        widget='hotselect'
        display='horizontal'
        inputId='select2'
        value=model2.record.hotselect
        widgetAttrs=(hash
          options=model2.options
        )
      }}



      {{fm-field
        label='Start Date'
        widget='datepicker'
        display='horizontal'
        inputId='datepicker2'
        value=model2.record.startDate
      }}



      {{fm-field
        widget='rangeslider'
        display='panel'
        inputId='range2'
        value=model2.record.howHappy
        widgetAttrs=(hash
          min='1'
          max='100'
        )
      }}



      {{fm-submit value='Submit'}}



    {{/fm-form}}
  </div>
  <div class='col-xs-4 col-xs-offset-2'>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <strong>Name:</strong> {{model2.record.name}}<br>
        <strong>Hot Select:</strong> {{model2.record.hotselect}}<br>
        <strong>Start Date:</strong> {{model2.record.startDate}}<br>
        <strong>How Happy:</strong> {{model2.record.howHappy}}<br>
        <hr>
        <div>
          <button class='btn btn-default' {{action (action (mut model2.record.hotselect) 'TOR')}}>Set Select</button>
        </div>
        <br>
        <div>
          <button class='btn btn-default' {{action (action (mut model2.record.startDate) '06/22/1983')}}>Set Start Date</button>
        </div>
        <br>
        <div>
          <button class='btn btn-default' {{action (action (mut model2.record.howHappy) 78)}}>Set How Happy</button>
        </div>
      </div>
    </div>
  </div>
</div>
